### IntelliJ IDEA ###
.idea/
*.iml
out/
*.ipr
*.iws

### VS Code ###
.vscode/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### Java ###
*.class

### Spring Boot ###
/bin/
/target/

### Environment / Credentials ###
*.env
application-*.yml
application-*.yaml
application-prod.properties
.secret/
*.key
*.pem

### Others ###
/tmp/
*.swp
.env
